.button_ecran {
    background-color: #00558b;
    color: white;
}

.delete_button_ecran {
    background-color: #8e2525;
    color: white;
}

thead {
    background-color: #00558b;
    color: white;
}

.active_ecran .page-link {
    background-color: #00558b;
    color: white;
}